*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color:#fbcf00;
  font-family: 'Bakbak One';
  overflow: hidden;
  line-height: 30px;
}
.gif {
  width: 1140px;
  margin: 0 auto;
  perspective: 380px;
  perspective-origin: bottom;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  transform: scaleY(3);
}
.container {
  position: absolute;
  top: 0;
  right: 13%;
  left: 13%;
  height: 100%;
  animation: action 30s ease-in-out infinite;
  text-align: center;
  margin-bottom: 25px;
}
h1, h2 {
  text-align: center;
  margin-bottom: 25px;
}
p {
  padding: 8px 0;
}
@keyframes action {
  0% {
  transform: rotateX(41deg) translate3d(0, 1000px, 0);
  opacity: 1;
  }
  85% {
  opacity: 1;
  }
  80% {
  transform: rotateX(21deg) translate3d(0, -150rem, 0);
  opacity: 0;
  }
}